* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #080808e8;
}
#count {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50;
}
#count h2 {
  text-transform: uppercase;
  color: #24e44e;
  font-family: Segoe UI;
}
#count h3 {
  text-transform: uppercase;
  color: #24e44e;
  font-family: Segoe UI;
  font-size: 100px;
}

#boxes {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: calc(20vh / 2);
  max-width: 500px;
}
.square {
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 10px;
  background-color: #080808b5;
  box-shadow: 0px 15px 0px #080808e4;
}
.square:active {
  box-shadow: 0px 0px 1px #080808e4;
  transform: translateY(10px);
}
